/* 팝업 기본 스타일 */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    min-width: 50vh;
    padding: 10px;
    background-color: #171a21;
    color: #c6d4df;
}

/* 타이틀 이미지 */
.title-image {
    display: block;
    width: 90%;
    height: auto;
    margin: 10px auto 10px;
}

/* 확장 로고 이미지 */
.logo {
    display: block;
    width: 70px;
    height: auto;
    margin: 10px auto 10px;
}


/* 토글 스위치 */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.switch input { 
    opacity: 0; /* 입력 필드 숨김 */
    width: 0;
    height: 0;
}

/* 슬라이더 */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

/* 체크 상태일때 */
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* 라운딩 처리 */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* 상태 텍스트 */
.status-text {
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

/* GitHub logo style */
.githubLogo {
    display: block;
    width: 20px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}